# Dependency directories
/node_modules
*/node_modules
*/**/node_modules
/package-lock.json
*/package-lock.json
*/**/package-lock.json

# Transpile, Development & Production Folder
/build
*/build
*/**/build
/dev
*/dev
*/**/dev

# misc
/.DS_Store
*/.DS_Store
*/**/.DS_Store
/.env
*/.env
*/**/.env

# Runtime data
*/**/pids
*/**/*.pid
*/**/*.seed
*/**/*.pid.lock

# Logs
/logs
*/logs
*/**/logs
/*.log
*/*.log
*/**/*.log
/npm-debug.log
*/npm-debug.log
*/**/npm-debug.log
/npm-debug.log*
*/npm-debug.log*
*/**/npm-debug.log*
