# Dependency directories
src/node_modules/
package-lock.json

# Transpile, Development & Production Folder
src/build
src/dev

# misc
src/.DS_Store
src/.env
src/.env.local
src/.env.development.local
src/.env.test.local
src/.env.production.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*